<app-navbar></app-navbar>

<input type="text" (input)="getName($event)">
<br>
<br>
<button (click)="displayName()">Get Val</button>
<br>
<br>
User Name: {{showName}}
<!-- <div>
  <app-login></app-login>
</div> -->
<!-- 
<h1> Hello Rahul</h1>



<h1> {{x+y}}</h1>
{{10==10}}

<app-login> </app-login> -->
<!-- 
<button (click) = "onClick()">click me</button> -->


<!-- <div style="text-align: center;">{
  {count}

  <div>
    <button (click) = "handleCounter('minus')"> Decrease</button>
    <button (click) = "handleCounter('reset')">Reset</button>
    <button (click) = "handleCounter('plus')">Increase</button>
  </div>
} </div> -->


<!-- <div style="text-align: center;">
  {{ count }}
  <div>
    <button (click)="handleCounter('minus')">Decrease</button>
    <button (click)="handleCounter('reset')">Reset</button>
    <button (click)="handleCounter('plus')">Increase</button>
  </div>
</div>


<div>
  <button class="btn" (click)="handleEvent($event)"> Click For Check</button>
</div>

<br>
<br>

<div (mouseenter)="handleEvent($event)" class="handleEvent" id="event-1">

</div> -->


<!-- <div (mouseleave)="handleEvent($event)" class="handleEvent" id="event-2"></div> -->

<!-- 
<div class="inputParent">
  <div class="innerChild">
    <input type="text"  />
  </div>
</div>

<div class="inputParent2">
  <div class="innerChild2">
    <input type="text" name="userInput" placeholder="Enter Your name" (change)="getInput($event)" />
  </div>
</div>
<div (mouseleave)="handleEvent($event)" class="handleEvent" id="event-2"></div> -->

<!-- 
<app-demo>

</app-demo> -->